<%- include('../partials/html-head.ejs') %>
<!-- <link rel="stylesheet" href="/stylesheets/characters/new.css" /> -->
<%- include('../partials/nav.ejs') %>


<section>
  <h1><%= title %></h1>
  <% if (user) { %>
    <h2>Add Character</h2>
   
    <form id="new-form" action="/characters/new" method="POST">
      <label for="name-input">Name:</label>
      <input type="text" name="name" id="name-input">
      <label for="birthday-input">Birthday:</label>
      <input type="text" name="birthday" id="birthday-input">
      <label for="age-input">Current Age:</label>
      <input type="text" name="age" id="age-input">
      <label for="book-origin-input">Book Origin:</label>
      <input type="text" name="bookOrigin" id="book-origin-input">
      <label for="death-status-checkbox">Deceased:</label>
      <input type="checkbox" name="deathStatus" id="death-status-input" checked>
      <br>
    <label for="eye-color-input">Eye color:</label>
    <select name="eyeColor" id="eye-color-select">
      <option value="Green">Green</option>
      <option value="Blue">blue</option>
      <option value="Hazel">Hazel</option>
      <option value="Gray">Gray</option>
      <option value="Brown">Brown</option>
      <option value="Amber">Amber</option>
    </select>
    <label for="hair-color-input">Hair color:</label>
    <select name="hairColor" id="hair-color-select">
      <option value="Blonde">Blonde</option>
      <option value="Black">Black</option>
      <option value="Brown">Brown</option>
      <option value="Sandy-Blonde">Sandy Blonde</option>
      <option value="Strawberry">Strawberry</option>
      <option value="Honey">Honey</option>
      <option value="Sandy-Blonde">Sandy Blonde</option>
      <option value="Strawberry">Strawberry</option>
      <option value="Honey">Honey</option>
    </select>
    <% } %>
    <button type="submit">+ Character</button>
  </form>
    
</section>

  <%- include('../partials/footer.ejs') %>